A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.img:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.img:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.img:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.img:hover {
	BORDER-RIGHT: #cccccc 1px ridge; BORDER-TOP: #cccccc 1px ridge; BORDER-LEFT: #cccccc 1px ridge; BORDER-BOTTOM: #cccccc 1px ridge
}
A.nav:link {
	FONT-SIZE: 14px; COLOR: #ffffff
}
A.nav:visited {
	FONT-SIZE: 14px; COLOR: #ffffff
}
A.nav:active {
	COLOR: #ffffff
}
A.nav:hover {
	COLOR: #ffff00
}
A.big:link {
	FONT-SIZE: 13px; COLOR: #ff5d00
}
A.big:visited {
	FONT-SIZE: 13px; COLOR: #ff5d00
}
A.big:active {
	COLOR: #ff5d00
}
A.big:hover {
	COLOR: #006600
}
A.news:link {
	COLOR: #000000
}
A.news:visited {
	COLOR: #ffffff
}
A.news:active {
	
}
A.news:hover {
	COLOR: #000000
}
.b2 {
	FONT-SIZE: 14px
}
BODY {
	BORDER-RIGHT: #ffffff 0pt solid; BORDER-TOP: #ffffff 0pt solid; FONT-SIZE: 9pt; MARGIN: 0px; BORDER-LEFT: #ffffff 0pt solid; COLOR: #333333; LINE-HEIGHT: 130%; BORDER-BOTTOM: #ffffff 0pt solid; FONT-STYLE: normal; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f7f7f7
}
TD {
	FONT: 9pt/130% "宋体"; COLOR: #333333
}
.table-1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.table-xia {
	BORDER-BOTTOM: #cccccc 1px solid
}
.table-zuoyou {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; FONT-STYLE: normal
}
.wenbenkuang {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"
}
.go-wenbenkuang {
	BORDER-RIGHT: #a2a2a2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #a2a2a2 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 19px; BACKGROUND-COLOR: #eeeeee
}
.table-shangxia {
	BORDER-TOP: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.table-you {
	BORDER-RIGHT: #cccccc 1px solid
}
.table-zuo {
	BORDER-LEFT: #cccccc 1px solid
}
.table-shang {
	BORDER-TOP: #cccccc 1px solid; order-top-style: solid
}
.line {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM: #ffffff 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent
}
